@{
  Layout = "_Layout";
}
<div>
<h1>Eau Claire's Salon: Employee & Client Database</h1>
</div>

<ul class="navbar">
<li class="navbar">@Html.ActionLink("Home", "Index", "Home")</li>
<li class="navbar">@Html.ActionLink("Clients", "Index", "Clients")</li> 
<li class="navbar">@Html.ActionLink("Stylists", "Index", "Stylists")</li>
</ul>